@import 'colors';
@import 'fonts';
// Import the colors
body,
a,
button {
    font-family: 'Space-Mono', monospace;
    font-weight: normal;
    font-style: normal;
    color: black;
    text-transform: uppercase;
}

p,
span > p,
input {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 > span {
    font-family: 'Space-Mono', monospace;
    font-weight: 400;
} 

h1 {
    font-size: 92px;
    color: transparent;
    -webkit-text-stroke: 3px white;
    -moz-text-stroke: 3px white;
    font-weight: 700;
    font-style: italic;

   
}

h2 {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    @media screen and (max-width: 768px) {
        font-size: 20px ;
    }
}

h3 {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    @media screen and (max-width: 768px) {
        font-size: 18px ;
    }
}

h4, h5 {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}


.text-stroke {
    -webkit-text-stroke: 3px white;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Fallback for browsers that do not support text-stroke */
}


@media (max-width: 1200px) {
    h1 {
        font-size: calc(66px + 2vw);
    }
}


@media (max-width: 900px) {
    h1 {
    font-size: calc(55px + 2vw);
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: calc(52px + 2vw);
    }
}

/* Optional: Set a minimum font size for very small screens */
@media (max-width: 480px) {
    h1 {
        font-size: calc(40px + 2vw);
    }
}