body,
html {
  background-color: white;
}

button.cta:hover {
  background-color: #000000;
}

/* Space Mono Fonts */
@font-face {
  font-family: "Space-Mono", monospace;
  src: url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Space-Mono", monospace;
  src: url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Space-Mono", monospace;
  src: url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.svg#space_monoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space-Mono", monospace;
  src: url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.svg#space_monoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* End of Space Mono Fonts */
/* Poppins Fonts */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.svg#poppinsblack_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.svg#poppinsbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.eot") format("eot)"), url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.svg#poppinsextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-extralightitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-extralightitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-extralightitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-extralightitalic-mota-photo-font.ttf") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.svg#poppinslight_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.svg#poppinsmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.svg#poppinsmedium_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.svg#poppinssemibold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.svg#poppinsthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* End of Poppins Fonts */
body,
a,
button {
  font-family: "Space-Mono", monospace;
  font-weight: normal;
  font-style: normal;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

p,
span > p {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 > span {
  font-family: "Space-Mono", monospace;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}

h4, h5 {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

/* Space Mono Fonts */
@font-face {
  font-family: "Space-Mono", monospace;
  src: url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Space_Mono/spacemono-bold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Space-Mono", monospace;
  src: url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Space_Mono/spacemono-bolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Space-Mono", monospace;
  src: url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Space_Mono/spacemono-italic-mota-photo-font.svg#space_monoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space-Mono", monospace;
  src: url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Space_Mono/spacemono-regular-mota-photo-font.svg#space_monoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* End of Space Mono Fonts */
/* Poppins Fonts */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-black-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-blackitalic-mota-photo-font.svg#poppinsblack_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-bold-mota-photo-font.svg#poppinsbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-bolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.eot") format("eot)"), url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-extrabold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-extrabolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-extralight-mota-photo-font.svg#poppinsextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-extralightitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-extralightitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-extralightitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-extralightitalic-mota-photo-font.ttf") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-italic-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-light-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-lightitalic-mota-photo-font.svg#poppinslight_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-medium-mota-photo-font.svg#poppinsmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-mediumitalic-mota-photo-font.svg#poppinsmedium_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-regular-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-semibold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-semibolditalic-mota-photo-font.svg#poppinssemibold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-thin-mota-photo-font.svg#poppinsthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.eot") format("eot"), url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.woff2") format("woff2"), url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.woff") format("woff"), url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.ttf") format("truetype"), url("../../assets/fonts/Poppins/poppins-thinitalic-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* End of Poppins Fonts */
/* _reset.scss */
/* Basic CSS Reset */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Reset list styles */
ol, ul {
  list-style: none;
}

/* Reset quotes */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* Reset table borders */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove link underlines */
a {
  text-decoration: none;
}

/* Reset font styles */
body {
  line-height: 1;
  font-family: "Space-Mono", monospace;
  color: #000;
}

/* Reset images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Navigation styling for the header and footer navbars and menus */
/* Navigation styling */
.main-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 60%;
  position: relative;
}
.main-navigation ul#primary-menu {
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.main-navigation ul#primary-menu li {
  margin: 0 30px;
  min-width: fit-content;
}
.main-navigation ul#primary-menu li a {
  padding: 10px;
  display: block;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .main-navigation #primary-menu {
    display: none;
  }
}
/* General styling for the header */
#masthead {
  height: 80px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.03);
}

.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.logo-container {
  max-width: 30%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  margin-right: -5%;
}
.logo-container .custom-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.logo-container .custom-logo-link a {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container .custom-logo-link img {
  max-height: 100%; /* Adjust to control the logo size, maintaining aspect ratio */
  max-width: 100%; /* Adjust to control the logo size, maintaining aspect ratio */
}

/* Burger button styling */
.burger-btn {
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none; /* Hidden by default */
}
.burger-btn span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}
.burger-btn.btn-close span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger-btn.btn-close span:nth-child(2) {
  opacity: 0;
}
.burger-btn.btn-close span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile menu styling */
.mobile-menu {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.mobile-menu.open {
  display: block;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mobile-menu ul li {
  margin: 10px 0;
}
.mobile-menu ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
}
.mobile-menu ul li a:hover, .mobile-menu ul li a:focus {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #header-navigation {
    display: none;
  }
  .mobile-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    margin-top: 40px;
    background-color: #E00000;
    height: 90vh;
  }
  .mobile-menu.open .menu-menu-principal-container {
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu.open .primary-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }
  .mobile-menu.open .primary-menu li {
    margin: 10px 0;
  }
  .mobile-menu.open .primary-menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    display: block;
    font-family: Space-Mono, monospace;
  }
  .mobile-menu.open .primary-menu li a:hover, .mobile-menu.open .primary-menu li a:focus {
    font-weight: 700;
  }
  .burger-btn {
    display: flex;
  }
  .burger-btn.btn-close span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .burger-btn.btn-close span:nth-child(2) {
    opacity: 0;
  }
  .burger-btn.btn-close span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
#contact-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
#contact-modal .modal-container {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 5% auto;
  background: #fff;
  border: 5px solid #000;
}
#contact-modal .modal-container .modal-contact_btn-close {
  display: flex;
  min-height: 30%;
  width: 100%;
  justify-content: center;
  border-bottom: 5px solid #000;
}
#contact-modal .modal-container .modal-contact_btn-close button.btn-close {
  display: inline-flex;
  width: auto;
  height: 50px;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
}
#contact-modal .modal-container .modal-contact_btn-close button.btn-close > .close-bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#contact-modal .modal-container .modal-contact_btn-close button.btn-close .close-bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
#contact-modal .modal-container .modal-contact_btn-close button.btn-close:hover {
  transform-origin: center;
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}
#contact-modal .modal-container > .modal-content {
  padding: 0;
  height: 90%;
}
#contact-modal .modal-container > .modal-content .modal-content__header {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
#contact-modal .modal-container > .modal-content .modal-content__header #contact-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
#contact-modal .modal-container > .modal-content .modal-content__form {
  width: 100%;
  height: 80%;
  justify-content: center;
  display: flex;
}
#contact-modal .wpcf7 {
  display: flex;
  justify-content: center;
}
#contact-modal .wpcf7 form.wpcf7-form {
  max-width: 100%;
  align-items: left;
}
#contact-modal .wpcf7 form.wpcf7-form div.contact-form-entries {
  text-align: left;
}
#contact-modal .wpcf7 form.wpcf7-form div.contact-form-entries label {
  display: block;
  margin: 20px 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}
#contact-modal .wpcf7 form.wpcf7-form div.contact-form-entries input.wpcf7-form-control {
  line-height: 20px;
  font-size: 14px;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}
#contact-modal .wpcf7 form.wpcf7-form div.contact-form-entries textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
}
#contact-modal .wpcf7 form.wpcf7-form div.contact-form-button {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}
#contact-modal .wpcf7 form.wpcf7-form div.contact-form-button p input {
  display: flex;
  justify-content: center;
  width: 260px;
  height: 50px;
  padding: 10px 20px;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  border-radius: 5px;
}
#contact-modal .wpcf7 form.wpcf7-form div.contact-form-button p input:hover {
  font-weight: 700;
}

/* Footer menu styling */
.footer-nav {
  border-top: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
}
.footer-nav ul#footer-menu {
  display: flex;
  flex-shrink: 1;
  margin: auto;
}
.footer-nav ul#footer-menu li {
  margin: 0 15px;
  min-width: fit-content;
}
.footer-nav ul#footer-menu li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
}
.footer-nav ul#footer-menu li a:hover, .footer-nav ul#footer-menu li a:focus {
  font-weight: 700;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .footer-nav {
    height: auto;
    border-top: 1px solid black;
  }
  .footer-nav ul#footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    margin-top: 30px;
  }
}
section#hero-header {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 800px;
  margin-bottom: 50px;
  padding: 0;
  object-fit: contain;
}
section#hero-header .hero-banner {
  display: flex;
  justify-content: center;
  object-fit: contain;
}
section#hero-header .hero-banner img {
  width: 100%;
  height: auto;
  max-height: 800px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  section#hero-header .hero-banner img {
    max-height: 400px;
  }
}
#photo-page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 700px;
  height: 900px;
  margin: 0;
  gap: 15px;
  overflow: hidden;
}
#photo-page article {
  width: 48%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
#photo-page article.photo {
  align-items: last baseline;
}

.entry-meta {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  align-self: last baseline;
  align-content: center;
  border-bottom: 2px solid #000;
  padding-right: 40%;
  height: 100%;
}
.entry-meta__title {
  font-size: 3em;
  margin: 0;
  padding: 0;
  width: 50%;
  padding-bottom: 15px;
  font-family: "Space-Mono", monospace;
  font-style: italic;
}
.entry-meta__details {
  padding-top: 10px;
  line-height: 20px;
  letter-spacing: 1.2%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.entry-meta__details p {
  font-family: "Space-Mono", monospace;
  font-weight: 300;
}
.entry-meta__details p:last-child {
  padding-bottom: 10px;
}

.photo-display {
  max-height: 95%;
  object-fit: contain;
  max-width: 100%;
  width: 50%;
  height: auto;
  display: block;
  justify-content: flex-start;
  align-content: flex-end;
  margin: 0;
  object-fit: fill;
  overflow: hidden;
  margin-bottom: -10px;
}
.photo-display figure {
  object-fit: scale-down;
  max-height: 800px;
  width: auto;
  padding: 0;
  align-items: flex-start;
}
.photo-display figure img {
  width: auto;
  min-width: 50%;
  height: auto;
}

/******************* Section CTA and Photo Slider *******************/
.photo-contact {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  object-position: 0%;
  padding: 0;
  margin: 0;
}
.photo-contact .after-photo-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 15px;
  align-self: center;
}
.photo-contact .after-photo-container > article {
  max-width: 40%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cta-text {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;
  position: relative;
}
.cta-text p {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  text-transform: none;
  text-align: right;
  width: fit-content;
  padding: 0;
  padding-left: 22px;
  font-family: "Poppins";
  font-weight: 300;
}
.cta-text button.btn-cta {
  position: absolute;
  right: 0;
  width: 200px;
  height: 35%;
}

.photo-slider {
  width: 80%;
  height: 100%;
  margin: 0;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-top: 10px;
}
.photo-slider .photo-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
}
.photo-slider .photo-slider-container img {
  display: block;
  width: 80px;
  height: 90%;
}
.photo-slider .photo-slider-container > div.slider-controls {
  margin-top: 10px;
  justify-content: space-between;
  display: flex;
  height: 10%;
  width: 80px;
  gap: 20px;
}
.photo-slider .photo-slider-container > div.slider-controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
}
.photo-slider .photo-slider-container > div.slider-controls button:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

section#related-photos {
  width: 100%;
  margin-top: 1%;
  padding: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 5%;
}
section#related-photos h3.related-photos__title {
  width: 80%;
  text-align: left;
  padding-left: 12%;
  padding-bottom: 40px;
}
section#related-photos .related-photos__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20px; /* Adjust the gap between the photos as needed */
  object-fit: contain;
  margin-left: -20px;
}
section#related-photos .related-photos__container article.related-photo {
  flex: 0 0 auto;
  width: calc(38% - 10px);
  height: 560px;
  object-fit: cover;
  object-position: center;
}
section#related-photos .related-photos__container article.related-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.related-photo {
  flex: 1; /* This makes each photo take equal space */
  max-width: calc(50% - 10px); /* Adjusts the width of each photo, accounting for the gap */
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  font-family: "Space-Mono", monospace;
  padding: 0;
  margin: 0;
}

a:hover, a:focus {
  font-weight: 700;
}

.site-main {
  width: 100%;
  margin: auto;
  padding: 0;
}
@media-screen and (min-width: 1400px) {
  .site-main {
    margin: 0 2%;
  }
}
/*# sourceMappingURL=custom.css.map */
