body,
html {
  background-color: white;
}

button.cta:hover {
  background-color: #000000;
}

body,
a {
  font-family: "Space-Mono", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

p,
span > p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 > span {
  font-family: "Space-Mono";
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}

h4, h5 {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

/* Space Mono Fonts */
@font-face {
  font-family: "Space Mono";
  src: url("Space_Mono/spacemono-bold-mota-photo-font.eot") format("eot"), url("Space_Mono/spacemono-bold-mota-photo-font.woff2") format("woff2"), url("Space_Mono/spacemono-bold-mota-photo-font.woff") format("woff"), url("Space_Mono/spacemono-bold-mota-photo-font.ttf") format("truetype"), url("Space_Mono/spacemono-bold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("Space_Mono/spacemono-bolditalic-mota-photo-font.eot") format("eot"), url("Space_Mono/spacemono-bolditalic-mota-photo-font.woff2") format("woff2"), url("Space_Mono/spacemono-bolditalic-mota-photo-font.woff") format("woff"), url("Space_Mono/spacemono-bolditalic-mota-photo-font.ttf") format("truetype"), url("Space_Mono/spacemono-bolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("Space_Mono/spacemono-italic-mota-photo-font.eot") format("eot"), url("Space_Mono/spacemono-italic-mota-photo-font.woff2") format("woff2"), url("Space_Mono/spacemono-italic-mota-photo-font.woff") format("woff"), url("Space_Mono/spacemono-italic-mota-photo-font.ttf") format("truetype"), url("Space_Mono/spacemono-italic-mota-photo-font.svg#space_monoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("Space_Mono/spacemono-regular-mota-photo-font.eot") format("eot"), url("Space_Mono/spacemono-regular-mota-photo-font.woff2") format("woff2"), url("Space_Mono/spacemono-regular-mota-photo-font.woff") format("woff"), url("Space_Mono/spacemono-regular-mota-photo-font.ttf") format("truetype"), url("Space_Mono/spacemono-regular-mota-photo-font.svg#space_monoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* End of Space Mono Fonts */
/* Poppins Fonts */
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-black-mota-photo-font.eot") format("eot"), url("Poppins/poppins-black-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-black-mota-photo-font.woff") format("woff"), url("Poppins/poppins-black-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-black-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("poppins-blackitalic-mota-photo-font.eot") format("eot"), url("Poppins/poppins-blackitalic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-blackitalic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-blackitalic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-blackitalic-mota-photo-font.svg#poppinsblack_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-bold-mota-photo-font.eot") format("eot"), url("Poppins/poppins-bold-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-bold-mota-photo-font.woff") format("woff"), url("Poppins/poppins-bold-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-bold-mota-photo-font.svg#poppinsbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-bolditalic-mota-photo-font.eot") format("eot"), url("Poppins/poppins-bolditalic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-bolditalic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-bolditalic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-bolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-extrabold-mota-photo-font.eot") format("eot)"), url("Poppins/poppins-extrabold-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-extrabold-mota-photo-font.woff") format("woff"), url("Poppins/poppins-extrabold-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-extrabold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-extrabolditalic-mota-photo-font.eot") format("eot"), url("Poppins/poppins-extrabolditalic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-extrabolditalic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-extrabolditalic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-extrabolditalic-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-extralight-mota-photo-font.eot") format("eot"), url("Poppins/poppins-extralight-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-extralight-mota-photo-font.woff") format("woff"), url("Poppins/poppins-extralight-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-extralight-mota-photo-font.svg#poppinsextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-extralightitalic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-extralightitalic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-extralightitalic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-extralightitalic-mota-photo-font.ttf") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-italic-mota-photo-font.eot") format("eot"), url("Poppins/poppins-italic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-italic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-italic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-italic-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-light-mota-photo-font.eot") format("eot"), url("Poppins/poppins-light-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-light-mota-photo-font.woff") format("woff"), url("Poppins/poppins-light-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-light-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-lightitalic-mota-photo-font.eot") format("eot"), url("Poppins/poppins-lightitalic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-lightitalic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-lightitalic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-lightitalic-mota-photo-font.svg#poppinslight_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-medium-mota-photo-font.eot") format("eot"), url("Poppins/poppins-medium-mota-photo-font.eot") format("eot"), url("Poppins/poppins-medium-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-medium-mota-photo-font.woff") format("woff"), url("Poppins/poppins-medium-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-medium-mota-photo-font.svg#poppinsmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-mediumitalic-mota-photo-font.eot") format("eot"), url("Poppins/poppins-mediumitalic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-mediumitalic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-mediumitalic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-mediumitalic-mota-photo-font.svg#poppinsmedium_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-regular-mota-photo-font.eot") format("eot"), url("Poppins/poppins-regular-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-regular-mota-photo-font.woff") format("woff"), url("Poppins/poppins-regular-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-regular-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-semibold-mota-photo-font.eot") format("eot"), url("Poppins/poppins-semibold-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-semibold-mota-photo-font.woff") format("woff"), url("Poppins/poppins-semibold-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-semibold-mota-photo-font.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-semibolditalic-mota-photo-font.eot") format("eot"), url("Poppins/poppins-semibolditalic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-semibolditalic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-semibolditalic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-semibolditalic-mota-photo-font.svg#poppinssemibold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-thin-mota-photo-font.eot") format("eot"), url("Poppins/poppins-thin-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-thin-mota-photo-font.woff") format("woff"), url("Poppins/poppins-thin-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-thin-mota-photo-font.svg#poppinsthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/poppins-thinitalic-mota-photo-font.eot") format("eot"), url("Poppins/poppins-thinitalic-mota-photo-font.woff2") format("woff2"), url("Poppins/poppins-thinitalic-mota-photo-font.woff") format("woff"), url("Poppins/poppins-thinitalic-mota-photo-font.ttf") format("truetype"), url("Poppins/poppins-thinitalic-mota-photo-font.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* End of Poppins Fonts */
a,
ul,
li {
  text-decoration: none;
}

#masthead {
  height: 80px;
  background-color: white;
  width: 100%;
  margin: 0;
}

.nav-menu {
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.site-branding {
  width: 30%;
}
.site-branding .logo-container {
  margin: 0 20px;
}

.custom-logo-link {
  display: inline-block;
}
.custom-logo-link img {
  max-width: 250px;
  height: auto;
}

nav#main-menu {
  display: inline-block;
  margin-right: 20px;
  width: 60%;
}
nav#main-menu #primary-menu {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  gap: 10px;
  overflow: hidden;
}
nav#main-menu #primary-menu .menu-item {
  flex-shrink: 1;
  min-width: fit-content;
  flex-wrap: nowrap;
  padding: 0 10px;
}
nav#main-menu #primary-menu .menu-item a {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  line-height: 80px;
  text-align: center;
}
nav#main-menu #primary-menu .menu-item a:hover {
  font-weight: 700;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.burger span {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  display: block;
  transition: all 0.3s ease;
}

.burger span:nth-of-type(1) {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  display: block;
}

.burger span:nth-of-type(2) {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  display: block;
}

.burger span:nth-of-type(3) {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  display: block;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}
.mobile-menu > .mobile-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
}
.mobile-menu > .mobile-menu-container {
  display: none;
}
.mobile-menu > .mobile-menu-container .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
}
.mobile-menu > .mobile-menu-container .mobile-nav li {
  margin: 6% 0;
}
.mobile-menu > .mobile-menu-container .mobile-nav li a {
  font-size: 1.5em;
  line-height: 60px;
}

.mobile-menu.open {
  display: flex;
}

.burger.close-button span:nth-of-type(1) {
  transform: rotate(45deg);
  position: absolute;
}

.burger.close-button span:nth-of-type(2) {
  opacity: 0;
}

.burger.close-button span:nth-of-type(3) {
  transform: rotate(-45deg);
  position: absolute;
}

@media screen and (max-width: 768px) {
  nav#main-menu {
    display: none;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 30px;
  }
  .mobile-menu-container.open {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: red;
  }
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-main {
  width: 90%;
  margin: auto;
  padding: 0;
}
@media-screen and (min-width: 1400px) {
  .site-main {
    margin: 0 2%;
  }
}
/*# sourceMappingURL=custom.css.map */
