@import '../base/_colors.scss';
@import '../base/_mixins.scss';


.btn-contact,
button.btn-cta,
button#btn-load-more {
    width: 35%;
    height: 50px;
    background-color: map-get($colors, "btn-contact-bg-color");
    border: none;
    transition: 0.4s ease scale(0);
    text-transform: none;

    a {
        color: black;
        text-transform: none;
    }

    &:hover {
        transform: scale(1.1);
        background-color: black;
        color: white;
        font-weight: 700;
        
        a {
            color: white;
        }
    }
}

.navigation-row {
    a {
        flex: 1;
        display: flex;
        justify-content: center;
        transition: 0.4s ease scale(0);
        &:hover {
            transform: scale(1.2);
        }
    }
}



div.contact-form-button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
    
    p {
        input {
            display: flex;
            justify-content: center;
            width: 260px;
            height: 50px;
            padding: 10px 20px;
            color: black;
            border: none;
            cursor: pointer;
            font-size: 12px;
            font-weight: 400;
            border-radius: 5px;
            transition: 0.4s ease scale(0);
            &:hover {
                font-weight: 700;
                background-color: black;
                color: white;
                transform: scale(1.2);

            }
        }
    }
}

// Button for Filters/Sorting Dropdown

.dropbtn {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
    min-height: 43px;
}

.dropbtn.active,
.dropbtn:hover,
.dropdown-content.open + .dropbtn {
    border: 1.3px solid #215AFF;
}

