// Photo Catalogue Section 
section.photo-catalogue {
   height: auto;
   margin: 0 auto 50px;
   width: calc(80vw - 20px);
   padding: 20px;
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   align-items: center;
   
   >.photo-filters {
      margin: 40px auto;
      width: 98%;
      height: 100px;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .filters-options,
      .sorting-options {
         display: flex;
         width: 49%;
         height: 100%;
      }
   }
}

.filters-options {
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
   gap: 20px;

   >.category-menu {
      justify-content: flex-start;

      button {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   >.format-menu {
      justify-content: flex-end;
      align-items: flex-end;

      button {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }
}

.sorting-options {
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   height: 100%;

   >.sorting-menu {
      justify-content: flex-end;
      align-items: flex-end;

      button {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }
}

.category-menu,
.format-menu,
.sorting-menu{
   border-radius: 5px;
   width: calc(40% - 20px);

   :active {
      border: 1.3px solid #215AFF;
   }
}


.dropdown {
   position: relative;

   &-content {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;
      width: 100%;
      z-index: 100;
      height: auto;
      text-transform: none;
      cursor: pointer;
      border: 1px solid black;
  
      ul {
          margin: 0;
          padding: 0;

         :hover {
            background-color: #FFD6D6;
         }

         :active {
            background-color: #FE5858;
         }

      }
  
      li {
          padding: 8px 12px;
          background-color: white;
      }
  
      .selected {
          background-color: #E00000;
          color: white;
      }
  
      &.open {
          display: block;
      }
  
      .hidden-label {
          font-size: 20px;
          color: transparent;
          cursor: pointer;
      }
   }

   &-toggle {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background-color: white;
       color: black;
       padding: 10px;
       cursor: pointer;
      
       :active {
         border: 1.3px solid #215AFF;
       }
   }
}

.rotate {
   transform: rotate(180deg);
}

@media screen and (max-width: 760px){

   section.photo-catalogue > div.photo-filters {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 20px;
      margin: 0; // Remove margin
      margin-bottom: 20px; // Add margin to bottom

      .filters-options,
      .sorting-options {
         display: flex;
         flex-direction: column;
         width: 65%;
         justify-content: space-around;
      }
   }
   

   // Change order of elements in filter menu when screen is smaller
   .filters-options {
      height: 200px;

      .category-menu {
         order: 0;
      }

      .format-menu {
         order: -1;
      }
   }

   .sorting-options {
      height: 100px;
   }

   .dropdown {
      width: 70%;

      &-content {
         height: auto;

         &.open {
            display: block;
            max-height:min-content;
         }
      }
   }
}
