/* Navigation styling for the header and footer navbars and menus */


/* Navigation styling */
.main-navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 60%;
    position: relative;
    ul#primary-menu {
        justify-content: flex-end;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        li {
            margin: 0 30px;
            min-width: fit-content;
            a {
                padding: 10px;
                display: block;
            }
        }
    }
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  font-family: 'Space-Mono', monospace;
  padding: 0;
  margin: 0;
}

a {
  &:hover,
  &:focus {
    font-weight: 700;
  }
}

/* Responsive styling */
@media screen and (max-width: 768px) {
    .main-navigation #primary-menu {
        display: none; // Hide the main menu on mobile
    }
}