// /sass/modal.scss
#contact-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    .modal-container {
        position: relative;
        width: 80%;
        max-width: 600px;
        margin: 5% auto;
        background: #fff;
        border: 5px solid #000;

        .modal-contact_btn-close {
            display: flex;
            height: 30%;
            width: 100%;
            justify-content: center;
            border-bottom: 5px solid #000;

            button.btn-close {
                display: inline-flex;
                width: auto;
                height: 50px;
                position: relative;
                cursor: pointer;
                background: transparent;
                border: none;

                >.close-bar {
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: #000;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                .close-bar:nth-child(2) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &:hover {
                    transform-origin: center;
                    transform: rotate(360deg);
                    transition: transform 0.3s ease;
                }
            }
        }

        >.modal-content {
            padding: 0;
            height: 90%;
            flex: 1;

            .modal-content__header {
                margin: 0;
                width: 100%;
                min-height: 150px;
                height: 30%;
                display: flex;

                #contact-banner {
                    object-fit: none; 
                    
                }
            }

            .modal-content__form {
                width: 100%;
                height: 60%;
                justify-content: center;
                display: flex;
            }
        }
    }
    .wpcf7 {
        display: flex;
        justify-content: center;
        form.wpcf7-form {
            max-width: 100%;
            align-items: left;
            div.contact-form-entries {
                text-align: left;
                label {
                    display: block;
                    margin: 20px 0;
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: 500;

                }
                input.wpcf7-form-control {
                    line-height: 20px;
                    font-size: 14px;
                    height: 40px;
                    width: 100%;
                    margin-top: 10px;
                }
                textarea {
                    width: 100%;
                    height: 200px;
                    font-size: 14px;
                }

            }

        }
    }
}