div.gallery-photos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
}

article.gallery-photo {
    flex: 0 1 calc(50% - 20px); /* Flex basis of 50% minus gap, allowing it to grow and shrink */
    position: relative;
    overflow: hidden;
    height: 500px; /* Adjust height as needed */
    min-width: 564px;
}

a.photo__link {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

div.photo-container {
    width: 100%;
    height: 100%;
    position: relative;

    .attachment-featured-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

div.photo-overlay {
    display: none; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.icon-fullscreen, .icon-eye {
    position: absolute;
    z-index: 2; /* Ensure icons are above overlay */
    cursor: pointer;
    width: 40px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.icon-fullscreen {
    top: 10px;
    right: 10px;
}

.icon-eye {
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
}

.photo_reference {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white; /* Example text color */
    z-index: 2; /* Ensure icons are above overlay */
}

.photo_category {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white; /* Example text color */
    z-index: 2; /* Ensure icons are above overlay */
}

a.photo__link:hover div.photo-overlay {
    display: flex;
    opacity: 1;
}