// Custom Styles
// This file is for better separation of custom styles.
// And is compiled into /assets/css/custom.css
// Where it is enqueued as a custom stylesheet
//
// You can add your custom styles here.
//
// @package Motaphoto
// IMPORT BASE ELEMENTS (colors, fonts, mixins, reset, typography, and variables)
@import 'base/base';
// IMPORT COMPONENTS (buttons, nav, filter-menus)
@import 'components/components';
// IMPORT LAYOUTS (contact, footer, header, photo-gallery)
@import 'layout/layout';
// IMPORT PAGES (homepage, single-photo)
@import 'pages/pages'; 

.site-main {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
