<<<<<<< HEAD

@import "../base/_mixins";

=======
//Import colors

@import '../base/colors';

// Hero Header Banner
>>>>>>> main
section#hero-header {
   width: 100vw;
   height: 960px;
   margin: 0;
   position: relative;
   overflow: hidden;
   @include flex-center;
 
   .hero-banner {
     @include full-size-flex-item;
     @include flex-center;
     z-index: 1;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

 
     h1 {
       margin: 0;
       padding: 0;
       align-self: center;
     }
   }
<<<<<<< HEAD
 }
 
 section.photo-catalogue {
=======

   
}

// Hero Header Banner
section#hero-header {
   width: 100vw;
   height: 960px;
   margin: 0;
   position: relative;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;

   .hero-banner {
      display: flex;
      flex: 1;
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

         h1 {
               flex: 1;
               width: 100%;
               margin: 0;
               padding: 0;
               display: flex;
               position: relative;
               justify-content: center;
               align-self: center;
               flex-wrap: nowrap;
            }
   }
}

// Photo Catalogue Section
section.photo-catalogue {
>>>>>>> main
   height: auto;
   margin: 0 auto 50px;
   width: calc(80vw - 20px);
   padding: 20px;
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   align-items: center;
<<<<<<< HEAD
 
   > .photo-filters {
     margin: 40px auto;
     width: 98%;
     height: 100px;
     @include flex-container;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
 
     div {
       display: flex;
       width: 48%;
       height: 50%;
     }
   }
 }
 
 .photo-filters__container,
 div.photo-filters > div.year-sortby__container {
   justify-content: space-between;
 }
 
 div.photo-filters > div.year-sortby__container {
   justify-content: flex-end;
 }
 
 .category-menu,
 .format-menu,
 .year-sortby {
   border-radius: 5px;
   width: calc(40% - 20px);
 }
 
 .load-more {
   @include flex-center;
   margin: 50px auto;
   width: 50%;
   height: 100px;
 }
 
 @media screen and (max-width: 768px) {
   section#hero-header {
      height: 70vh;
   }

   section.photo-catalogue {
      margin: 0;
      padding: 0;
      width: 100%;
   }
 }

 @media screen and (max-width: 900px) {
   section#hero-header {
      height: 85vh;
   }
   section.photo-catalogue {
      margin: 0;
      padding: 0;
      width: 100%;
   }
 }
=======
   
   >.photo-filters {
      margin: 40px auto;
      width: 98%;
      height: 100px;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .filters-options,
      .sorting-options {
         display: flex;
         width: 49%;
         height: 100%;
      }
   }
}

.filters-options {
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
   gap: 20px;

   >.category-menu {
      justify-content: flex-start;

      button {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   >.format-menu {
      justify-content: flex-end;
      align-items: flex-end;

      button {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }
}

.sorting-options {
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   height: 100%;

   >.sorting-menu {
      justify-content: flex-end;
      align-items: flex-end;

      button {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }
}

.load-more {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px auto;
   width: 50%;
   height: 100px;
}

// FILTER AND SORTING STYLES

.category-menu,
.format-menu,
.sorting-menu{
   border-radius: 5px;
   width: calc(40% - 20px);

   :active {
      border: 1.3px solid #215AFF;
   }
}


.dropdown {
   position: relative;

   &-content {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;
      width: 100%;
      z-index: 100;
      height: auto;
      text-transform: none;
      cursor: pointer;
      border: 1px solid black;
  
      ul {
          margin: 0;
          padding: 0;

         :hover {
            background-color: #FFD6D6;
        }

        :active {
          background-color: #FE5858;
        }
      }
  
      li {
          padding: 8px 12px;
          background-color: white;
      }
  
      .selected {
          background-color: #E00000;
          color: white;
      }
  
      &.open {
          display: block;
      }
  
      .hidden-label {
          font-size: 20px;
          color: transparent;
          cursor: pointer;
      }
   }

   &-toggle {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background-color: white;
       color: black;
       padding: 10px;
       cursor: pointer;
      
       :active {
         border: 1.3px solid #215AFF;
       }
   }
}

.rotate {
   transform: rotate(180deg);
}
>>>>>>> main
