@import '../base/variables';
@import '../base/mixins';
@import '../components/buttons';

// Base Styles
#site-content {
    margin: 0 auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  // Photo Page Styles
  #photo-page {
    margin: 50px auto;
    padding: 20px;
    width: calc(100vw - 40px);
    flex: 1;
    display: flex;
    flex-direction: column;
  
    > div {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      gap: 20px;
  
      > article {
        @include flex-article;
        width: calc(40% - 20px);
        max-width: 50%;
      }
    }
  }
  
  
  // Entry Meta Styling
  .entry-meta {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    flex: 1;
    width: 100%;
    border-bottom: 2px solid $border-color;
  
    &__title {
      font-size: 66px;
      width: 60%;
      padding: 0;
      margin: 0;
    }
    &__details {
      p {
        font-size: 14px;
      }
    }
  }
  
//// Photo Contact Wrapper
div.photo-contact-wrapper {
    margin-top: 20px;
    flex-direction: row;
    height: 118px;
    width: calc(80% - 20px);
    align-items: center;
    justify-content: center;
  
    .sub-photo-container {
      border-bottom: 2px solid $border-color;
      width: calc(80% - 10px); // Adjusted width to match the combined width of two divs in the first row
      display: flex;
      gap: 20px;
      justify-content: space-between;
      height: 100%;
      align-items: center;

        // Switch order of articles and restyle
        article.contact-wrapper {
        width: calc(50% - 10px);
        display: flex;
        justify-content: space-between;

            p {
                text-transform: none;
            }
      }

      article.preview-wrapper {
        width: calc(50% - 10px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }
    }
  }


  .content-block {
    position: relative;
    display: flex;
    width: 81px;
    height: 90%;
    max-height: 118px;
    justify-content: center;

    div.thumbnail-row {
        display: block;
        max-height: 118px;
        height: 85%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    div.navigation-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 15%;
        width: 100%;
        position: absolute;
        bottom: 0;    
    }
}

// Section for Related Photos

section#related-photos{
  margin-top: 0;
  margin-bottom: 50px;
}

  h3.related-photos__title {
      display: flex;
      text-align: left;
      width: 96%;
      justify-content: flex-start;
      margin-bottom: 50px;
      height: 20%;
  }

.photo-display{
  display: flex;
  justify-content: flex-start;
  align-self: first baseline;
  width: 100%;
  margin: 0;
  padding: 0;

    img {
      min-height: 500px;
      max-height: 800px;
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
}
  
// Media Queries
@media screen and (max-width: 768px) {
  section#photo-page {
    width: 100%;
    padding: 0;
    margin: 0;
    div.photo-display-wrapper {
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      width: 100vw !important;
      display: flex; 

      article:nth-child(1) {
        // Change order of article to 2nd position
        width: 100%;
        order: 1;
        max-width: 100%;
        min-width: 100%;

          div.entry-meta {
            position: relative;
            top: 0;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin: 0;
          }

          h2.entry-meta__title {
            min-width: 60%;
            display: flex;
            justify-content: flex-start;
            margin: 0;
            margin-left: 10%;
            flex: 1;
            font-size: 3.2em;
            letter-spacing: 5px;
            margin-bottom: 10px;
          }

          div.entry-meta__details {
              min-width: 80%;
              margin-left: 10%;
              font-size: 12px;
              margin-bottom: 30px;


              .photo-labels{
                line-height: 20px;
                letter-spacing: .2em;
                width: 100%;
              }
            }
          }

      article:nth-child(2).photo-display {
        // Change order of article to 1st position
        width: 100%;
        order: -1;
        display: flex;
        justify-content: center;
        align-items: center;  
        margin-top: 20px;
        max-width: 100%;

          figure {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 80%;
          }

            img {
              width: 100%;
              height: 100%;
              object-position: center;
              object-fit: cover;
            }
          }
        }

        div.photo-contact-wrapper{
          height: 200px;
          .sub-photo-container{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            article.contact-wrapper {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              margin: 40px 0;
              gap: 20px;

              div.cta-text {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                line-height: 21px;
                letter-spacing: .5px;
                padding-left: 20%;
              }

              > button.btn-cta {
                width: 80%;
                margin: 0;
                align-self: center;
                justify-content: center;
                padding-left: 10%;
                padding-right: 10%;
                margin-bottom: 30px;
              }
            }

            > article.preview-wrapper {
              display: none;
            }
          }
        }
    }

    section#related-photos {
      width: 100%;
      padding: 0;
      margin: 0 0 50px 0;

      div.gallery-photos__container{
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        gap: 20px;

        h3.related-photos__title {
          width: 100%;
          justify-content: center;
          margin: 0;
          padding: 40px 0;
          align-self: center;
          line-height: 30px;
          font-size: 24px;
          letter-spacing: 2px;
        }
      }
    }
}